    body {
      font-family: 'Orbitron', sans-serif;
      background: linear-gradient(135deg, #00e5ff, #ff4081, #8e24aa);
      background-size: 400% 400%;
      animation: gradientBackground 5s ease infinite;
    }
    @keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
    }
    #display {
      overflow: auto; 
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }

    #display::-webkit-scrollbar {
        display: none; 
    }

    .glass {
      backdrop-filter: blur(20px);
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      border-radius: 2rem;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
    .btn {
      aspect-ratio: 1 / 1;
      font-size: 1.6rem;
      font-weight: bold;
      border-radius: 9999px;
      background: rgba(255,255,255,0.2);
      backdrop-filter: blur(10px);
      color: white;
      box-shadow: 0 8px 15px rgba(0,0,0,0.1);
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn:hover {
      background: rgba(255,255,255,0.4);
      transform: scale(1.08);
    }
    .btn:active {
      transform: scale(0.95);
    }
    .btn-operator {
      background-color: #f97316;
    }
    .btn-equal {
      background-color: #10b981;
    }
    /* Hiệu ứng gradient cho tiêu đề */
    @keyframes gradientAnimation {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

    .text-gradient {
      background: linear-gradient(45deg, #ff7f50, #ff6347, #f5a623, #48c6ef);
      background-size: 400% 400%;
      -webkit-background-clip: text; /* Chỉ áp dụng gradient vào chữ */
      background-clip: text; /* Chỉ áp dụng gradient vào chữ */
      color: transparent; /* Làm chữ trong suốt để thấy được gradient */
      animation: gradientAnimation 5s ease infinite;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 15px;
    }
